    auth:
      loadBalancer:
        servers:
          - url: "http://${AUTH_HOST}:${AUTH_PORT}"
        # Forward the original Host header to the backend service
        passHostHeader: true
