    media:
      loadBalancer:
        servers:
          - url: "http://${MEDIA_HOST}:${MEDIA_PORT}"
        # Forward the original Host header to the backend service
        passHostHeader: true
