    presenter:
      loadBalancer:
        servers:
          - url: "http://${PRESENTER_HOST}:${PRESENTER_PORT}"
        # Forward the original Host header to the backend service
        passHostHeader: true
