    search:
      loadBalancer:
        servers:
          - url: "http://${SEARCH_HOST}:${SEARCH_PORT}"
        # Forward the original Host header to the backend service
        passHostHeader: true
